
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

mat-card {
    background-color: #6687E3;
}


.fcontainer{
    display: flex;
    justify-content: space-between;
}

.textdetails{
    color: whitesmoke;
    font-weight: 10;
    font-size: smaller;
    text-align: center;
}

.x-textdetails{
    color: whitesmoke;
    font-weight: 10;
    font-size: xx-small;
}


.numberdetails{
    color: rgb(9, 57, 189);
    font-weight: 1000;
    text-align: center;
}

.x-numberdetails{
    color: rgb(9, 57, 189);
    font-weight: 1000;
    text-align: center;
    font-size: x-small;
}


.card-width{
    width: 100%;
}



#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
} 

@media all and (width: 1024px) and (height: 1366px){
    
}

@media all and (width: 768px) and (height: 1024px){
    .textdetails{
        font-size: 60%;
    }
    .x-textdetails{
        font-size: 50%;
    }
}

@media all and (max-width: 480px){

}