
<div class="card-width">

    <mat-card>
        <div class="fcontainer">
            <div class="textdetails">NOTIFICATIONS</div>
            <div class="textdetails"> 65</div>
        </div>
    </mat-card>

    <mat-card class="mt-1">
        <div class="fcontainer">
            <div class="textdetails">DELIVERY STATUS</div>
            <div><fa-icon [icon]="faSearch" class="ml"></fa-icon></div>
        </div>

        <div>
            <div class="numberdetails">
                99%
            </div>
            <div class="textdetails">
                Within Time Limit
            </div>
        </div>

        <div class="fcontainer">
            <div>
                <div class="textdetails">
                    Within Time Limit
                </div>
                <div class="numberdetails">
                    535
                </div>
            </div>
            <div>
                <div class="textdetails">
                    Out of Time Limit
                </div>
                <div class="numberdetails">
                    10
                </div>
            </div>
        </div>          

    </mat-card>

    <mat-card class="mt-1">

        <div class="fcontainer">
            <div class="textdetails">DELIVERY BY LOCATIONS</div>
            <div><fa-icon [icon]="faSearch" class="ml"></fa-icon></div>
        </div>

        <div class="mt-1">
            <highcharts-chart
            
            [Highcharts]="highcharts"
            [options]="chartOptions">

            </highcharts-chart>
            
        </div>

        <div class="fcontainer mt-1">

            <div>
                <div class="mat-progress-bar">
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div>
                <div class="x-textdetails">Bangalore</div>
                <div class="x-numberdetails">25%</div>
            </div>

            <div>
                <div>
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div>
                <div class="x-textdetails">Chennai</div>
                <div class="x-numberdetails">40%</div>
            </div>

            <div>
                <div>
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div>
                <div class="x-textdetails">Calicut</div>
                <div class="x-numberdetails">5%</div>
            </div>

            <div>
                <div>
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div>
                <div class="x-textdetails">Vizag</div>
                <div class="x-numberdetails">25%</div>
            </div>

            <div>
                <div>                        
                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </div>
                <div class="x-textdetails">Puducherry</div>
                <div class="x-numberdetails">5%</div>
            </div>

        </div>

    </mat-card>
</div>

