.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.font-details{
    font-weight: 10;
    font-size: smaller;
    color: white;
}

.ml{
    margin-left: 1.5rem;
}

.color-white{
    color: white;
}

@media all and (width: 1024px) and (height: 1366px){
    .font-details{
        text-align: center;
        font-size: 90%;
    }
}

@media all and (width: 768px) and (height: 1024px){
    .font-details{
        text-align: center;
        font-size: 65%;
    }
}

@media all and (max-width: 480px){

}



