
<div>
    <div>
        <div class="color-white"><fa-icon [icon]="faBars" class="ml"></fa-icon></div>
        <div class="font-details">DASHBOARD</div>
    </div>
    
    <div class="mt-2 color-white">
        <div><fa-icon [icon]="faUserFriends" class="ml"></fa-icon></div>
        <div class=" font-details">CUSTOMERS</div>
    </div>
    
    <div class="mt-2 color-white">
        <div><fa-icon [icon]="faGift" class="ml"></fa-icon></div>
        <div class="font-details">ORDER VIEW</div>
    </div>
</div>

    
    

 