<div class="fcontainer-head">
    <mat-card class="fcontainer col-6 border">
        <div>
            <div class="textdetails">Forecast Today</div>
            <div class="numberdetails">India</div>
        </div>
        <div>
            <div class="textdetails">Temperature</div>
            <div class="numberdetails">27<span>&#176;</span>c</div>
        </div>
        <div>
            <div class="textdetails">Humidity</div>
            <div class="numberdetails">66%</div>
        </div>
    </mat-card>

    <mat-card class="fcontainer col-6">
        <div>
            <div class="textdetails">Forecast Tomorrow</div>
            <div class="numberdetails">India</div>
        </div>
        <div>
            <div class="textdetails">Temperature</div>
            <div class="numberdetails">27<span>&#176;</span>c</div>
        </div>
        <div>
            <div class="textdetails">Humidity</div>
            <div class="numberdetails">66%</div>
        </div>
    </mat-card>
</div>

<div class="col-12" style="height: 100%; display: block;">
    <div id="map"></div>
</div>

