
<div>

    <mat-card class="fcontainer row-1">
        <div class="textdetails">
            TOTAL SHIPMENTS
        </div>
        <div class="numberdetails color-blue">
            30
        </div>
    </mat-card>

    <mat-card class="mt-1 fcontainer row-1"> 
        <div class="textdetails">
            ACTIVE SHIPMENTS
        </div>
        <div class="numberdetails color-green">
            20
        </div>
    </mat-card>
    
    <mat-card class="mt-1 fcontainer row-1">
        <div class="textdetails">
            DELAYED SHIPMENTS
        </div>
        <div class="numberdetails color-orange">
            10
        </div>
    </mat-card>


    <mat-card class="mt-1 row-4">
        <div class="thinline fcontainer">
            <div class="textdetails">
                FLEET UTILISATION
            </div>
            <div class="numberdetails color-blue">
                89%
            </div>
        </div>

        <div class="fcontainer mt-1 thinline">
            <div class="textdetails">
                DAILY KM BY FLEET
            </div>
            <div class="numberdetails color-blue">
                92km
            </div>
        </div>

        <div class="fcontainer mt-1 thinline">
            <div class="textdetails">
                ROAD EFFICIENCY
            </div>
            <div class="numberdetails color-blue">
                10km/hr
            </div>
        </div>

        <div class="fcontainer mt-1 thinline">
            <div class="textdetails">
                AVG FUEL EFFICIENCY
            </div>
            <div class="numberdetails color-blue">
                12kmph
            </div>
        </div>

        <div class="fcontainer mt-1">
            <div class="textdetails">
                DAILY TIME SPENT ON ROAD
            </div>
            <div class="numberdetails color-blue">
                7.2hrs
            </div>
        </div>
    </mat-card>

    <button mat-raised-button color="primary" style="width: 100%;" class="mt-1 row-1" type="submit">FLEET HEALTH CHECK</button>

</div>