<div class="row-default fcontainer">

    <div class="col-1 row-12">
        <div class="mt-1 row-12">
            <app-navbar></app-navbar>
        </div>        
    </div>

    <div class="col-3 row-12 content-overflow">
        <mat-card class="mt-1 row-12">
            <app-details-check></app-details-check>
        </mat-card>
    </div>

    <div class="col-5 row-12 content-overflow">
        <mat-card class="mt-1 row-12 bl-2">
            <app-weather-info></app-weather-info>
        </mat-card>        
    </div>  
    
    <div class="col-3 row-12 content-overflow">
        <mat-card class="mt-1 row-12 bl-2 br-3">
            <app-delivery-info></app-delivery-info>
        </mat-card>
    </div>

</div>

